@import url('https://fonts.googleapis.com/css?family=Righteous');
//colors
@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Kelly+Slab|Prosto+One|Share|Voces');
$white: #ffffff;
$lightgreen:#59d95d;
$green: #4caf50;
$lightblue: #68bafd;
$blue: #0265B4;
$darkblue: #025497;
$gray: #f5f5f5;
//fonts
$font_0: 'Comfortaa', cursive;
$font_1: 'Open Sans', sans-serif;
